.searchPage__header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
  box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
}

.searchPage__header .search {
  width: var(--center-width);
}

.searchPage__logo {
  width: var(--center-abs-margin);
  display: grid;
  place-items: center;
}

.searchPage__logo * {
  object-fit: contain;
  height: calc(var(--rhs-margin)/2);
  margin: auto;
  /* margin: 0 calc(var(--rhs-margin)/2); */
  /* margin-top: 0.5rem; */
}

.searchPage__headerBody>.search>.search__input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.searchPage_options {
  display: none;
  /* display: flex; */
  align-items: center;
  color: grey;
}

.searchPage_optionsLeft,
.searchPage_optionsRight {
  display: flex;
}

.searchPage_optionsLeft a,
.searchPage_optionsRight a {
  text-decoration: none;
  color: grey;
}

.searchPage_optionsRight {
  margin-left: 80px;
}

.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.searchPage_option a {
  margin-left: 5px;
}

.searchPage__noResult * {
  font-size: 1.25rem;
}

.searchPage__noResult p:first-child {
  margin: 2rem 0 1rem 0;
}

.searchPage__noResult p {
  margin: 1rem 0;
}

.searchPage__result {
  margin: calc(var(--rhs-margin)/2) 0;
}

.searchPage__resultCount {
  margin: 1rem 0 0.5rem 0;
  color: #70757a;
  font-size: 0.9rem;
}

.searchPage__results {
  max-width: calc(var(--center-abs-margin) + var(--center-width) + var(--rhs-margin) + var(--rhs-width));
  width: var(--center-width);
  margin-left: var(--center-abs-margin);
  margin-bottom: var(--rhs-margin);
}

.searchPage__resultBreadcrumb {
  color: #70757a;
  text-decoration: none;
}
.searchPage__resultBreadcrumb::after {
  content: '\25BC';
  margin-left: 0.5ch;
}

.searchPage__resultTitle {
  font-size: 1.35rem;
  font-weight: 500;
  text-decoration: none;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultSnippet {
  margin-top: 0.25rem;
  color: darkslategray;
}

.searchPage__resultImage {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-right: 10px;
}

.txt-wrapped {
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.txt-wrapped.max-line-2 {
  -webkit-line-clamp: 2
}
.txt-wrapped.max-line-3 {
  -webkit-line-clamp: 3
}
.txt-wrapped.max-line-4 {
  -webkit-line-clamp: 4
}
.txt-wrapped.max-line-5 {
  -webkit-line-clamp: 5
}